/ {
        vcc3v3_lcd0: vcc3v3-lcd0 {
                compatible = "regulator-fixed";
                regulator-name = "vcc3v3_lcd0";
                regulator-boot-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                enable-active-high;
                gpio = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
                vin-supply = <&vcc3v3_sys>;

                regulator-state-mem {
                        regulator-off-in-suspend;
                };
        };

        vcc3v3_lcd1: vcc3v3-lcd1 {
                compatible = "regulator-fixed";
                regulator-name = "vcc3v3_lcd1";
                regulator-boot-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                enable-active-high;
                gpio = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
                vin-supply = <&vcc3v3_sys>;

                regulator-state-mem {
                        regulator-off-in-suspend;
                };
        };

        backlight0: backlight0 {
                compatible = "pwm-backlight";
                pwms = <&pwm4 0 25000 0>;
		brightness-levels = <0 255>;
                num-interpolated-steps = <255>;
                default-brightness-level = <250>;
	};

        backlight1: backlight1 {
                compatible = "pwm-backlight";
                pwms = <&pwm5 0 25000 0>;
		brightness-levels = <0 255>;
                num-interpolated-steps = <255>;
                default-brightness-level = <250>;
	};

};

&video_phy0 {
    status = "okay";
};

&dsi0 {
	status = "okay";

        panel@0 {
                compatible = "simple-panel-dsi";
                reg = <0>;
                backlight = <&backlight0>;
		reset-gpios = <&gpio1 RK_PD1 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd0_rst_gpio>;
		status = "okay";
                power-supply = <&vcc3v3_lcd0>;
                prepare-delay-ms = <60>;
                reset-delay-ms = <60>;
                init-delay-ms = <60>;
                enable-delay-ms = <60>;
                disable-delay-ms = <60>;
                unprepare-delay-ms = <60>;
                width-mm = <68>;
                height-mm = <121>;
                dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
                              MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
                dsi,format = <MIPI_DSI_FMT_RGB888>;
                dsi,lanes = <4>;

                panel-init-sequence = [
                        05 fa 01 11
			39 00 04 B9 FF 83 99
			15 00 02 BA 43
			15 00 02 D2 44
			39 00 0D B1 00 7C 34 34 44 09 22 22 71 F1 B2 4A
			39 00 0B B2 00 80 00 7F 05 07 23 4D 21 01
			39 00 29 B4 00 FF 02 40 02 40 00 00 06 00 01 02 00 0F 01 02 05 20 00 04 44 02 40 02 40 00 00 06 00 01 02 00 0F 01 02 05 00 00 04 44
			39 05 20 D3 00 01 00 00 00 06 00 00 10 04 00 04 00 00 00 00 00 00 00 00 00 00 01 05 05 07 00 00 00 05 08
			39 05 21 D5 18 18 19 19 18 18 21 20 01 00 07 06 05 04 03 02 18 18 18 18 18 18 30 30 31 31 32 32 18 18 18 18
			39 05 21 D6 18 18 19 19 40 40 20 21 06 07 00 01 02 03 04 05 40 40 40 40 40 40 30 30 31 31 32 32 40 40 40 40
			39 00 31 D8 A2 AA 02 A0 A2 A8 02 A0 B0 00 00 00 B0 00 00 00 B0 00 00 00 B0 00 00 00 E2 AA 03 F0 E2 AA 03 F0 00 00 00 00 00 00 00 00 E2 AA 03 F0 E2 AA 03 F0
			39 00 03 B6 29 29
			39 00 2B E0 01 06 06 2A 2F 3E 0F 3A 05 09 0F 13 15 14 15 12 18 07 16 07 14 01 06 06 2A 2F 3E 0F 3A 05 09 0F 13 15 14 15 12 18 07 16 07 14
			05 00 01 21
			15 00 02 36 02
			05 ff 01 11
			05 ff 01 29
                ];

                panel-exit-sequence = [
                        05 00 01 28
                        05 00 01 10
                ];

                display-timings {
                        native-mode = <&timing0>;

                        timing0: timing0 {
                                clock-frequency = <132000000>;
                                hactive = <1080>;
                                vactive = <1920>;
                                hfront-porch = <15>;
                                hsync-len = <2>;
                                hback-porch = <30>;
                                vfront-porch = <15>;
                                vsync-len = <2>;
                                vback-porch = <15>;
                                hsync-active = <0>;
                                vsync-active = <0>;
                                de-active = <0>;
                                pixelclk-active = <1>;
                     };
                };

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				panel_in_dsi0: endpoint {
					remote-endpoint = <&dsi0_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dsi0_out_panel: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel_in_dsi0>;
			};
		};
	};
};

&dsi0_in_vp0 {
	status = "okay";
};

&dsi0_in_vp1 {
	status = "disabled";
};

&route_dsi0 {
	status = "okay";
	connect = <&vp1_out_dsi0>;
};

&pwm4 {
	status = "okay";
};


&video_phy1 {
    status = "okay";
};

&dsi1 {
	status = "okay";

        panel@1 {
                compatible = "simple-panel-dsi";
                reg = <1>;
                backlight = <&backlight1>;
		reset-gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_LOW>;
                power-supply = <&vcc3v3_lcd1>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd1_rst_gpio>;
		status = "okay";
                prepare-delay-ms = <60>;
                reset-delay-ms = <60>;
                init-delay-ms = <60>;
                enable-delay-ms = <60>;
                disable-delay-ms = <60>;
                unprepare-delay-ms = <60>;
                width-mm = <68>;
                height-mm = <121>;
                dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
                              MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
                dsi,format = <MIPI_DSI_FMT_RGB888>;
                dsi,lanes = <4>;

                panel-init-sequence = [
                        05 fa 01 11
			39 00 04 B9 FF 83 99
			15 00 02 BA 43
			15 00 02 D2 44
			39 00 0D B1 00 7C 34 34 44 09 22 22 71 F1 B2 4A
			39 00 0B B2 00 80 00 7F 05 07 23 4D 21 01
			39 00 29 B4 00 FF 02 40 02 40 00 00 06 00 01 02 00 0F 01 02 05 20 00 04 44 02 40 02 40 00 00 06 00 01 02 00 0F 01 02 05 00 00 04 44
			39 05 20 D3 00 01 00 00 00 06 00 00 10 04 00 04 00 00 00 00 00 00 00 00 00 00 01 05 05 07 00 00 00 05 08
			39 05 21 D5 18 18 19 19 18 18 21 20 01 00 07 06 05 04 03 02 18 18 18 18 18 18 30 30 31 31 32 32 18 18 18 18
			39 05 21 D6 18 18 19 19 40 40 20 21 06 07 00 01 02 03 04 05 40 40 40 40 40 40 30 30 31 31 32 32 40 40 40 40
			39 00 31 D8 A2 AA 02 A0 A2 A8 02 A0 B0 00 00 00 B0 00 00 00 B0 00 00 00 B0 00 00 00 E2 AA 03 F0 E2 AA 03 F0 00 00 00 00 00 00 00 00 E2 AA 03 F0 E2 AA 03 F0
			39 00 03 B6 29 29
			39 00 2B E0 01 06 06 2A 2F 3E 0F 3A 05 09 0F 13 15 14 15 12 18 07 16 07 14 01 06 06 2A 2F 3E 0F 3A 05 09 0F 13 15 14 15 12 18 07 16 07 14
			05 00 01 21
			15 00 02 36 02
			05 ff 01 11
			05 ff 01 29
                ];

                panel-exit-sequence = [
                        05 00 01 28
                        05 00 01 10
                ];

                display-timings {
                        native-mode = <&timing1>;

                        timing1: timing1 {
				clock-frequency = <132000000>;
                                hactive = <1080>;
                                vactive = <1920>;
                                hfront-porch = <15>;
                                hsync-len = <2>;
                                hback-porch = <30>;
                                vfront-porch = <15>;
                                vsync-len = <2>;
                                vback-porch = <15>;
                                hsync-active = <0>;
                                vsync-active = <0>;
                                de-active = <0>;
                                pixelclk-active = <1>;
                        };
                };


		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				panel_in_dsi1: endpoint {
					remote-endpoint = <&dsi1_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dsi1_out_panel: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel_in_dsi1>;
			};
		};
	};
};


&dsi1_in_vp0 {
	status = "disabled";
};

&dsi1_in_vp1 {
	status = "okay";
};

&route_dsi1 {
	status = "okay";
	connect = <&vp1_out_dsi1>;
};

&pwm5 {
	status = "okay";
};


&i2c1 {
        status = "okay";

        gt1x: gt1x@14 {
                compatible = "goodix,gt1x";
                reg = <0x14>;
                pinctrl-names = "default";
                pinctrl-0 = <&touch_gpio>;
                goodix,rst-gpio = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
                goodix,irq-gpio = <&gpio0 RK_PB5 IRQ_TYPE_LEVEL_LOW>;
        };
};

&pinctrl {
        touch {
                touch_gpio: touch-gpio {
                        rockchip,pins =
                                <0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>,
                                <0 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };

        lcd0 {
                lcd0_rst_gpio: lcd0-rst-gpio {
                        rockchip,pins = <1 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };

        lcd1 {
                lcd1_rst_gpio: lcd1-rst-gpio {
                        rockchip,pins = <3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };
};

&edp {
        hpd-gpios = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
        status = "okay";
};

&edp_phy {
        status = "okay";
};

&edp_in_vp0 {
        status = "disabled";
};

&edp_in_vp1 {
        status = "okay";
};

&route_edp {
        status = "okay";
        connect = <&vp1_out_edp>;
};

&vp0 {
        cursor-win-id = <ROCKCHIP_VOP2_CLUSTER0>;
};

&vp1 {
        cursor-win-id = <ROCKCHIP_VOP2_CLUSTER1>;
};

